.fa-th, .fa-bars {
  font-size: 25px;
  padding-left: 20px;
  padding-top:  10px;
}

#switch-items {
  text-align: center
}

.listButton {
  text-align: right;
}

.gener-title {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}